.groupList-container {
  width: calc(30vw - 10px);
  float: left;
}

.list-group {  
  width: 30vw - 10 px;
  padding: 10px;
  margin-left: 10px;
}
#eachGroupItem:hover{
  background: #1ee494;
  color: #fff;
}

.ThreeButton{
  float: right;
}
