.groupList-container {
  width: calc(537px);
  height: calc(537px);
  float: left;
}

.list-group {  
  width: 1000 px;
  padding: 0px;
  margin-left: 0px;
}

.eachGroupItem{
  height: 30px;
}

#eachGroupItem:hover{
  background: #0fc5f3;
  color: #fff;
}

.inputLeft{
    width: 431px;
    padding: 5px;
}

.ThreeButton{
  float: right;
}

.btn-block {
  padding: 10% 0; 
  /* define values in pixels / Percentage or em. whatever suits 
     your requirements */
}
