.groupList-container {
  width: 32%;
  float: left;
}

.form-group{
  width: 70%;
}

.addLabel{
  width: 100%;
}

.inputLeft{
  width: 100%;
  padding: 5px;
}

.eachGroupItem{
  height: 30px;

}

.ThreeButton{
  float: right;
}

#eachGroupItem:hover{
  background: #0fc5f3;
  color: #fff;
}

.btn-sm {
  width: 30%;
  height: 38px;
  padding: 10px;
}

.greenBtn{
  background-color:#44c767;
}

.greenBtn:hover{
  background-color:#44db6c;
}

.redBtn{
  background-color:#ca5c5c;
  margin-left: 4px;
}

.redBtn:hover{
  background-color:#ce7474;
  margin-left: 4px;
}

