.App {
	text-align: center;
}

.name {
	text-align: center;
	background-image: linear-gradient(#FFFFFF, #5EB7EB);
	height: 100vh;
}

.container {
	margin-top: 15%;
	display: inline-block;
}

#nameField:required {
	position: left;
}